.nao-encontrada {
    padding: 1.5rem 1rem 0;
    text-align: center;
  }
  
  .nao-encontrada__simbolo {
    color: #9351b4;
    font-size: 2.5rem;
    margin: 1rem 0 1;
  }
  
  @media (min-width: 992px) {
    .nao-encontrada {
        padding: 3rem 10% 0;
    }
  }